{% extends "./base.html.twig" %}

{% block body %}
<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <a href="{{ asset('uploads/Endys_api.json') }}" download="Endys_api.json" class="px-8 py-4 bg-blue-500 text-white text-2xl font-bold rounded-lg shadow hover:bg-blue-700 transition ease-in-out duration-150">
        Download postman colletion
    </a>
</div>
{% endblock %}